name: CI

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    env:
      MIX_ENV: test
    strategy:
      fail-fast: false
      matrix:
        include:
          - pair:
              elixir: 1.12.0
              otp: 22.3
            lint: lint
    steps:
      - uses: actions/checkout@v2

      - uses: erlef/setup-beam@v1
        with:
          otp-version: ${{matrix.pair.otp}}
          elixir-version: ${{matrix.pair.elixir}}

      - uses: actions/cache@v2
        with:
          path: |
            deps
            _build
          key: ${{ runner.os }}-mix-${{matrix.pair.elixir}}-${{matrix.pair.otp}}-${{ hashFiles('**/mix.lock') }}
          restore-keys: |
            ${{ runner.os }}-mix-

      - run: mix deps.get

      - run: mix format --check-formatted
        if: ${{ matrix.lint }}

      - run: mix deps.unlock --check-unused
        if: ${{ matrix.lint }}

      - run: mix deps.compile

      - run: mix compile --warnings-as-errors
        if: ${{ matrix.lint }}

      - run: mix deps.get
      - run: make run-tests
  protobuf:
    name: "Generate Protobufs"
    runs-on: ubuntu-latest
    env:
      MIX_ENV: test
    strategy:
      fail-fast: false
      matrix:
        include:
          - pair:
              elixir: 1.12.0
              otp: 22.3
            lint: lint
    steps:
      - uses: actions/checkout@v2

      - uses: erlef/setup-beam@v1
        with:
          otp-version: ${{matrix.pair.otp}}
          elixir-version: ${{matrix.pair.elixir}}

      - uses: actions/cache@v2
        with:
          path: |
            deps
            _build
          key: ${{ runner.os }}-mix-${{matrix.pair.elixir}}-${{matrix.pair.otp}}-${{ hashFiles('**/mix.lock') }}
          restore-keys: |
            ${{ runner.os }}-mix-
      - uses: "arduino/setup-protoc@v1"
        with:
          version: "3.19.4"
      - name: "Install Homebrew & gRPC"
        run: |
          bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
          brew install grpc protobuf
      - name: "Install protoc_gen_elixir plugin"
        run: |
          mix escript.install hex protobuf --force
          echo "/home/runner/.mix/escripts" >> $GITHUB_PATH
      - uses: "bufbuild/buf-setup-action@v0.1.0"
        with:
          version: "1.1.0"
      - name: "Generate & Diff Protos"
        run: |
          echo "/home/runner/.mix/escripts" >> $GITHUB_PATH
          ./buf.gen.yaml
          mix format authzed/**/*.ex
          bash -c '[ $(diff -qr authzed/api lib/api | grep "Only in authzed") -eq 1]'
          rm -rf authzed
